@font-face {
  font-family: "Fitzgerald";
  src: url("lib/assets/HV\ Fitzgerald\ Italic.ttf");
}

@font-face {
  font-family: "Kern";
  src: url("lib/assets/Kern\ Cycle\ Variable\ Regular.ttf");
}

:root {
  --school: rgb(221, 101, 75);
  --club: rgb(134, 168, 255);
  --work: rgb(252, 174, 235);
  --️personal: rgb(255, 170, 60);
  --school-light: rgba(221, 101, 75, 0.5);
  --club-light: rgba(134, 168, 255, 0.5);
  --work-light: rgba(252, 174, 235, 0.5);
  --️personal-light: rgba(255, 170, 60, 0.5);
  --background: #faf7f5;
  --body-light: #e9dbd0;
  --body: #d4bba5;
  --body-dark: #7b5f53;
  --shadow: rgba(123, 95, 83, 0.3);
  --active-shadow: rgba(123, 95, 83, 0.5);
}

body {
  transition: all 0.5s ease-out;
  background-color: var(--background);
  font-family: "Kern", sans-serif;
  color: var(--body);

  h1 {
    font-family: "Fitzgerald", serif;
    font-weight: 400;
    color: var(--body-dark);
  }

  .bold {
    font-weight: bold;
    color: var(--body-dark);
  }
}

::-webkit-scrollbar {
  width: 5px;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--body-light);
  height: 50%;
}
